.pnpm-store
node_modules
dist
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# UI distribution
api/src/server/ui

# Binaries
api/api
api/api.upx

# Temporary files
screenshots/
