:root {
    --shape-hex: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
}

:root {
    --terrain-water-fill: var(--color-sky-900);

    --terrain-ash-fill: var(--color-stone-900);
    --edge-ash-fill: var(--color-stone-800);
    --corner-ash-fill: var(--color-stone-800);

    --terrain-grass-fill: var(--color-green-900);
    --edge-grass-fill: var(--color-green-800);
    --corner-grass-fill: var(--color-green-800);

    --terrain-snow-fill: #e0e0e0;
    --edge-water-fill: #3abff0;
    --corner-water-fill: #3abff0;
    --corner-snow-fill: #e0e0e0;
}
